telegrambot.json
[{"id":"b622712c.d5391","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ba108533.809f08","type":"chatbot-telegram-receive","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","x":110,"y":40,"wires":[["9e8f55cb.7be8c8"]]},{"id":"9e8f55cb.7be8c8","type":"chatbot-message","z":"b622712c.d5391","name":"Introduction","message":[{"message":"My name is Botty. What is your name?\n"}],"answer":false,"silent":false,"x":310,"y":40,"wires":[["dda02e2f.3d1a3"]]},{"id":"dda02e2f.3d1a3","type":"chatbot-telegram-send","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","track":true,"passThrough":false,"outputs":1,"x":510,"y":40,"wires":[["24b76c28.494304"]]},{"id":"12bb9db2.c49602","type":"rpi-gpio out","z":"b622712c.d5391","name":"LED","pin":"12","set":"","level":"0","freq":"","out":"out","x":530,"y":200,"wires":[]},{"id":"696f9bc0.56f914","type":"trigger","z":"b622712c.d5391","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":400,"y":200,"wires":[["12bb9db2.c49602"]]},{"id":"24b76c28.494304","type":"chatbot-parse","z":"b622712c.d5391","name":"Parse name","parseType":"string","parseVariable":"name","x":110,"y":100,"wires":[["6b0e454b.44646c"],["6b0e454b.44646c"]]},{"id":"6b0e454b.44646c","type":"chatbot-message","z":"b622712c.d5391","name":"name","message":[{"message":"Hi {{name}}. There are two things I can do. One of them is if you connect an LED to pin 12 / GPIO 18 on your Raspberry Pi, I can have it flash. Would you like to try this? (Answer \"Yes\" or \"No\")"}],"answer":false,"silent":false,"x":270,"y":100,"wires":[["ad0300fa.939a9"]]},{"id":"ad0300fa.939a9","type":"chatbot-telegram-send","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","track":true,"passThrough":false,"outputs":1,"x":450,"y":100,"wires":[["11ff09f4.6ee816"]]},{"id":"5267c564.62577c","type":"switch","z":"b622712c.d5391","name":"Yes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":160,"wires":[["696f9bc0.56f914","5b8640ca.33507"]]},{"id":"135b782d.5add18","type":"switch","z":"b622712c.d5391","name":"No","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":240,"wires":[["809dddaf.101b3"]]},{"id":"5b8640ca.33507","type":"chatbot-message","z":"b622712c.d5391","name":"LED flashed","message":[{"message":"Okay, the LED should have flashed. The next and final thing I can do is read you your text and send you an audio file of it. Would you like to try this? (Type \"Yes\" or \"No\")."}],"answer":false,"silent":false,"x":430,"y":160,"wires":[["f23903d0.580ea"]]},{"id":"809dddaf.101b3","type":"chatbot-message","z":"b622712c.d5391","name":"LED did not flash","message":[{"message":"Okay, I won't flash the LED. The next and final thing I can do is read you your text and send you an audio file of it. Would you like to try this? (Type \"Yes\" or \"No\")."}],"answer":false,"silent":false,"x":450,"y":240,"wires":[["f23903d0.580ea"]]},{"id":"f23903d0.580ea","type":"chatbot-telegram-send","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","track":true,"passThrough":false,"outputs":1,"x":750,"y":200,"wires":[["3cc7d1b3.9d9b2e"]]},{"id":"11ff09f4.6ee816","type":"chatbot-parse","z":"b622712c.d5391","name":"Parse response","parseType":"string","parseVariable":"response","x":80,"y":180,"wires":[["5267c564.62577c","135b782d.5add18"],[]]},{"id":"29a63d47.857a62","type":"switch","z":"b622712c.d5391","name":"Yes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["403ce2e6.25a94c"]]},{"id":"3dab277e.c28698","type":"switch","z":"b622712c.d5391","name":"No","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":400,"wires":[["730be085.06c26"]]},{"id":"3cc7d1b3.9d9b2e","type":"chatbot-parse","z":"b622712c.d5391","name":"Parse response","parseType":"string","parseVariable":"response","x":120,"y":320,"wires":[["29a63d47.857a62","3dab277e.c28698"],[]]},{"id":"403ce2e6.25a94c","type":"chatbot-message","z":"b622712c.d5391","name":"Input","message":[{"message":"Please type what you want me to say now. "}],"answer":false,"silent":false,"x":430,"y":300,"wires":[["5e3825ba.13b5ec"]]},{"id":"730be085.06c26","type":"chatbot-message","z":"b622712c.d5391","name":"Goodbye","message":[{"message":"Okay, it was nice talking to you {{name}}. I am shutting down now."}],"answer":false,"silent":false,"x":460,"y":400,"wires":[["9e396f9d.92672"]]},{"id":"5e3825ba.13b5ec","type":"chatbot-telegram-send","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","track":true,"passThrough":false,"outputs":1,"x":590,"y":300,"wires":[["798833c2.09e37c"]]},{"id":"798833c2.09e37c","type":"chatbot-parse","z":"b622712c.d5391","name":"Parse response","parseType":"string","parseVariable":"response","x":780,"y":300,"wires":[["94b46872.6f8ea8"],["94b46872.6f8ea8"]]},{"id":"94b46872.6f8ea8","type":"chatbot-voice","z":"b622712c.d5391","name":"tts","message":"{{response}}","language":"en-us","x":930,"y":300,"wires":[["2834df2b.f9ad7"]]},{"id":"9e396f9d.92672","type":"chatbot-telegram-send","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","track":true,"passThrough":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"2834df2b.f9ad7","type":"chatbot-telegram-send","z":"b622712c.d5391","bot":"bd024344.d64f","botProduction":"bd024344.d64f","track":true,"passThrough":false,"outputs":1,"x":890,"y":340,"wires":[["730be085.06c26"]]},{"id":"bd024344.d64f","type":"chatbot-telegram-node","z":"","botname":"KevinIoTBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false}]